<div>
    {{!-- <h1>Actividad en clase</h1>

    <input type="text" id="textbox"/>
    <p id=" log"></p> --}}

    <h2> ¡Bienvenido {{user.name}}!¡ Que gusto verte! </h2>
    {{#if isAdmin}}
        {{#each food}}
        <div>
            <p>{{this.name}}</p>
            <p>{{this.price}}</p>
        </div>
        {{/each}}
    {{else}}
    <p>No tienes permiso para ver la lista de productos</p>
    {{/if}}

</div>
<script src="socket.io/socket.io.js"></script>
<script src="js/index.js"></script>